{% extends 'base.html' %}  # 声明扩展自模板 base.html

{% block content %}

    <ul class="movie-list">
        <li class="movies-len">{{ movies|length }} movies in the watchlist</li> {# 使用lenth过滤器获取movies的长度 #}
        {% for movie in movies %} {# 迭代movies变量 #}
        <li>{{ movie.title }}
        <span class="float-right">
        <a class="imdb" href="https://www.douban.com/search?q={{
        movie.title }}" target="_blank" title="Find this movie on douban">豆瓣</a>
        </span>
        </li>
        {% endfor %} {# 结束for循环语句 #}
    </ul>
    <img alt="foot_image" class='foot_image' src="{{ url_for('static', filename='images/微信图片_20220706112817.gif') }}"/>
{% endblock %}